.a {
    background-color: #051039;
    color: #fff;
  }
  .acolor {
    color: #fff;
  }
  .containers {
    color: #051039;
  }
  .flight_list {
    width: 90%;
    margin: 0 auto;
  }
  .flight_list td {
    border: 1px solid #ddd;
  }
  .flight_list > thead > tr > td:first-child {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #ed0000;
    padding: 2rem 0;
  }
  .flight_list > thead > tr > td:last-child {
    text-align: right;
    padding-right: 2rem;
  }
  .t1_label {
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  .switch_container {
    display: inline-block;
    border: 0.1rem solid #767676;
  }
  .switch_container:hover {
    border: 0.1rem solid #051039;
  }
  .switch_container > span {
    display: inline-block;
    padding: 1rem 2rem;
    vertical-align: middle;
    text-align: center;
  }
  .switch_container > span > a {
    font-size: 1.2rem;
    color: #767676;
    text-decoration: none;
  }
  .switch_container > span > a:hover {
    color: #ed0000;
  }
  .list_item td:first-child {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
  }
  /*出发时间*/
  .time_left {
    /* display: inline-block; */
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 1rem;
    margin-left: 3rem;
  }
  .time_left span {
    color: #0062e6;
  }
  /*旅行时长*/
  .time_right {
    /* display: inline-block; */
    font-size: 1.1rem;
    color: #767676;
    vertical-align: middle;
    margin-right: 5rem;
    padding: 1rem;
  }
  .time_right span {
    font-weight: 600;
  }
  .price {
    padding: 1rem 1rem;
    cursor: pointer;
    text-align: center;
  }
  .secondTd:hover {
    border: 1px solid #767676;
    background-color: #f8f9f9;
  }
  /* 选框样式 */
  .fake_radio {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #767676;
    border-radius: 50%;
    vertical-align: middle;
  }
  .price span:nth-child(2) {
    font-size: 1.5rem;
    color: #051039;
    margin-left: 8px;
  }
  .price div {
    color: #ed0000;
    font-size: 0.8rem;
  }
  .circle {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #051039;
    margin-top: 5px;
  }